/*----------------
    RESET
-----------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*----------------
    TYPOGRAFY
-----------------*/
* {
    font-family: "Montserrat", 'Helvetica Neue', sans-serif    
}

h1 {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}
  


/*----------------
    BUTTON
-----------------*/



/*----------------
    LAYOUT
-----------------*/



/*----------------
    HEADER
-----------------*/
header {
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 17;
}

header h1 {
    font-size: 35px;
    text-align: center;
    color: #ff9614;
    text-shadow: 1px 1px 3px yellowgreen;
    padding: 10px;
}


/*----------------
    MAIN
-----------------*/



/*----------------
    FOOTER
-----------------*/



/*----------------
    MEDIA QUERY
-----------------*/
/* Tablet, 768px --> */
@media screen and (min-width: 768px) {
    header h1 {
        text-align: left;
    }

}


/* Desktop, 992px --> */
@media screen and (min-width: 992px) {


}